body {
	font-size: 1vh;
}

table {
	width: 100%;
}

td {
	background-color: DarkGray;
	border: 1px solid black;
	border-radius: 5px;
	width: 5.55%;
	padding: 0px;
	margin: 0px;
}

img {
	display: block;
	width: 100%;
	}

#H, #C, #N, #O, #P, #S, #Se {
	background-color: SpringGreen;
}

#Be, #Mg, #Ca, #Sr, #Ba, #Ra {
	background-color: Tomato;
}

#Li, #Na, #K, #Rb, #Cs, #Fr {
	background-color: Gold;
}

#He, #Ne, #Ar, #Kr, #Xe, #Rn, #Uuo {
	background-color: GreenYellow;
}

#F, #Cl, #Br, #I, #At, #Uus {
	background-color: SlateBlue;
}

#B, #Si, #Ge, #As, #Sb, #Te, #Po {
	background-color: Yellow;
}

#Al, #Ga, #In, #Sn, #Tl, #Pb, #Bi, #Uut, #Uuq, #Uup, #Uuh {
	background-color: Turquoise;
}

#La, #Ce, #Pr, #Nd, #Pm, #Sm, #Eu, #Gd, #Tb, #Dy, #Ho, #Er, #Tm, #Yb, #Lu {
	background-color: Violet;
}

#Ac, #Th, #Pa, #U, #Np, #Pu, #Am, #Cm, #Bk, #Cf, #Es, #Fm, #Md, #No, #Lr {
	background-color: DodgerBlue;
}

.vide {
	background-color: white;
	border: 0px;
}

.name {
	padding: 0px;
	margin: 0px;
	margin-bottom: 2px;
	color: white;
	text-align: center;
	background-color: black;
	opacity: 0.70;
}

.number {
	margin: 0px;
	font-weight: bold;
	padding: 0px 2px;
}

.masse {
	margin: 0px;
	text-align: right;
	font-style: italic;
	padding: 0px 2px;
}

.symbol {
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}
